@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Noto+Sans+JP&display=swap');

*,*::after,*::before {
    background-color: rgb(59, 57, 57);
    color: aliceblue;
    
    
    
}
@media (min-width: 400px) {


body {
    font-style: italic;
    margin-left: 12rem;
    margin-right: 12rem;
    padding: 3rem;
    border: 2px solid black;
    border-radius: 50px;
    background: #3b1e53;
    box-shadow: inset -20px 20px 37px #10100f,
            inset 20px -20px 37px rgb(82, 69, 107);
    
             
    
}

#main {
display: block;

} 

header {
    color: blue;
    background-color: rgb(132, 119, 192);
    font-size: 2.5rem;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    
    
}


#menu {
    width: 50rem;
    height: 5rem;
    background-color: rgb(132, 119, 192);
    
}

.tag {
    position: relative;
    margin-left: 3rem;
    float: right;
    font-size: larger;
    font-family: fantasy;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: rgb(19, 53, 84);
    background-color: rgb(132, 119, 192);
}

#home {
    position: relative;
    height: 9rem;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(27, 26, 34);
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    background-color: transparent;
    color: rgb(19, 53, 84);
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    color: rgb(92, 132, 169);
    text-transform:none;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#about {
    display: grid;
    place-items: center;
}

#contact {
    display: grid;
    place-items: center;
    background-color:  rgb(27, 26, 34);
}

ul {
    display: inline-flex;
    list-style: none;
    gap: 2rem;
    background-color: transparent;
    color: black;
}

.mobile-nav {
    display: none !important;
}

.hamburger {
    display: none;
}
}

@media (max-width: 400px) {
   *,*::after,*::before {
      box-sizing: border-box;
      margin: 0;
      
   }

   body {
    position: relative;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 1rem;;
      padding: 1rem;
      
      width: 100%;
      border: 2px solid black;
      border-radius: 50px;
      background: #53595f;
      box-shadow: inset 27px 27px 54px #373b3f,
            inset -27px -27px 54px #818a91;
   }

   header {
    height: 7rem;
    position: relative;
    z-index: 10;

   }

   #menu {
      position:relative;
      width: 17.3rem;
      height: 7rem;
      
   }

   .hamburger {
    display: block;
    cursor: pointer;
    width: 35px;
    height: 35px;
    position: relative;
    left: 8.5rem;
    top:0.5rem;
    appearance: none;
    outline: none;
    background:none;
    border:none;
    
    
   }

   .hamburger .bar, .hamburger::after, .hamburger::before{
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background: black;
      margin: 6px 0px;
      transition: 0.4s;
      
   }

   .hamburger.is-active::before {
      transform: rotate(-45deg) translate(-9px, 6px);
 
   }

   .hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -7px);

}

.hamburger.is-active .bar{
    opacity: 0;
}

.nav {
    display: none;;
}
 
.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    background: rgb(71, 30, 76);
    z-index: 999;
    padding-top: 120pz;
    transition: 0.4s;
}

.mobile-nav.is-active {
    display: block;
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: blueviolet;
    color: darkblue;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: rgb(84, 18, 93);
}

header {
    color: blue;
    background-color: rgb(132, 119, 192);
    font-size: 2.5rem;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
}


#menu {
    background-color: rgb(132, 119, 192);
    width: 100%;
}

h2 {
    font-size: x-large bold;
    font-weight: 700;
    font-family: 'Chivo Mono', monospace;
font-family: 'Noto Sans JP', sans-serif;
color: rgb(82, 82, 170);
text-align: center;
background-color: transparent;

}
h3 {
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: rgb(92, 132, 169);
    text-transform:none;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;   
}

#home {
    background-color: #210472;
    height: 5rem;
}

p {
    font-style: italic;
    text-align:justify;
}

#contact{
    display: grid;
    place-items: center;
    height: 7rem;
    background-color:  rgb(27, 26, 34);
}

ul {
    display: inline-flex;
    list-style: none;
    gap: 2rem;
    background-color: transparent;
    color: black;
    
}
}
